<div>
    <h1>Productos</h1>
    <hr>
    {{!-- <form action="/register" method="POST">
        <input type="text" name="title" placeholder="ingrese titulo" > 
        <input type="text" name="description" placeholder="ingrese descripcion" > 
        <input type="text" name="price" placeholder="ingrese precio" > 
        <input type="text" name="thumbnail" placeholder="ingrese imagen" > 
        <input type="text" name="stock" placeholder="ingrese stock" > 
        <input type="text" name="code" placeholder="ingrese codigo" > 
        <input type="text" name="status" placeholder="ingrese status" > 
        <input type="text" name="category" placeholder="ingrese categoria" > 
        <button>Enviar</button>
    </form> --}}
    <ul id="productos"></ul>       
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/cliente.js"></script>